@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lobster|Lobster+Two|Oswald|Pontano+Sans');
/*LOADER*/
.pre-load{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/cargar.gif) center no-repeat #fff;
}

/*NAVBAR*/
.item {
	z-index: 5;
}
.logo{
	height: 40px;
	margin: 15px 5px 15px 30px ;
}
.menu{
	background-color: transparent;
	color: black  !important;
	padding-left: 0px;
	transition: padding , padding-left 1s;
	z-index: 1000;
	border: 0px;
	font-family: Lobster Two;
	font-size: 27px;
	background-color: rgba(0, 0, 0, 0.2);
}
.menu-fixed {
	background-color: #384259 !important;
	margin:0;
	color: white !important;
	width:100%;
	border: 0  !important;
	z-index: 1000;
}
a:active{
	position: relative;
	top: 5px;
}
.navbar-default .navbar-nav > li > a{
	color: white;
	margin-top: 10px;
}
.navbar-default .navbar-nav > li > a:focus{
	color: white;
}
.navbar-default .navbar-nav > li > a:active{
	color: white;
}
.navbar-default .navbar-nav > li > a:visited{
	color: white;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #F73859;
}

/*PRESENTACIÓN*/
.presentacion{
	background-image: url(../img/fondos/fondo1.jpg);
	text-align: center;
	padding: 9% 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.presentacion div{
	margin: 0 auto;
	width: 310px;
	font-family: Lobster;
	color: white;
	font-size: 52px;
	padding: 4% 0;
	background-color: black;
}
.frase{
	background-color: #384259;
	color: white;
	text-align: center;
	padding: 30px 40px;
	font-family: Oswald;
}
.frase img{
	display: inline-block;
	width: 110px;
	vertical-align: top;
}
.frase h1{
	display: inline-block;
	margin: 13px 0 0 10px;
}
/*¿QUIÉN SOY?*/
#quien-soy{
	margin-bottom: 76px;
}
.titulo{
	background-color: white;
	padding: 10px 0;
	width: 100%;
	font-family: Lobster Two;
	font-size: 35px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
}
.contenido-quien-soy{
	background-color: #C4EDDE;
	width: 100%;
	height: auto;
	padding:28px;
	margin: auto;
	font-family: Pontano Sans;
	font-size: 18px;
}
.hola-mundo{
	width: 70%;
	display: block;
	margin: 5px auto;
}
.emoji{
	display: inline-block;
	height: 26px;
	text-align: justify;
}

/*Conocimientos*/
.contenedor-barra-skill{
	width: 100%;
	height: 20px;
	margin: 10px auto;
	border-radius: 15px;
	background-color: white;
}
.estilo-barra{
	border-radius: 15px;
}
.estilo-barra::-webkit-progress-bar{
	border-radius: 15px;
	background-color: transparent;
}
.estilo-barra::-webkit-progress-value{
	background-color: #F73859;
	border-radius: 15px;
	height: 18px;
}
.barra-html{
	width: 85%;
}
.barra-css{
	width: 85%;
}
.barra-js{
	width: 75%;
}
.barra-jquery{
	width: 70%;
}
.barra-bootstrap{
	width: 80%;
}
.barra-corel{
	width: 80%;
}
.barra-git{
	width: 85%;
}
.barra-sass{
	width: 50%;
}
.div-img-skill{
	width: 120px;
	margin: 0 auto;
	text-align: center;
	height: 120px;
}
.div-img-skill-chica{
	width: 120px;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}
.img-skill{
	width: 50%;
	margin:20px 0;
}
.corel{
	width: 40%;
}
#skills{
	background-color: black;
	padding-bottom: 90px;
}
.titulo-skill{
	background-color:#F73859;
}
.subtitulo-skill{
	color: white;
	font-family: Pontano Sans;
	font-size: 20px;
}
.img-skill:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/*PROYECTOS*/
#proyectos{
	background-image: url(../img/fondos/fondo2.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 25px;
}
.titulo-proyecto{
	background-color:#F73859;
	width: 100%;
	padding: 10px 0;
	margin: 20px 0;
	font-family: Pontano Sans;
	text-align: center;
	color: white;
	font-size: 1.3em;
}
.proyecto{
	width: 100%;
	text-align: center;
}
.proyecto-jquery{
	width: 150px;
	margin: 20px auto;
	position: relative;
}
.proyecto-jquery .boton-link{
	border: 4px white solid;
	background-color: #F73859;
	width: 80%;
	border-radius: 15px;
	font-size: 22px;
	padding: 3%;
	margin: 30% 0;
	font-family: Oswald;
	color: white;
}
.proyecto-img{
	width: 70%;
	margin: 20px auto;
	position: relative;
}
.titulo-blanco{
	background-color: white;
	color: black;
}
.boton-link{
	border: 4px white solid;
	background-color: #F73859;
	width: 80%;
	border-radius: 15px;
	font-size: 22px;
	padding: 3%;
	margin: 8% 0;
	font-family: Pontano Sans;
	color: white;
}
.boton-link:visited{
	color: white;
}
.boton-link:focus{
	color: white;
}
.boton-link:hover{
	color: white;
}
.links-jquery{
	width: 180px;
	margin: auto;
	position: absolute;
	z-index: 1;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(0, 0, 0, 0.8);
}
.links-jquery .boton-link{
	margin: 38% 0;
}
.links{
	width: 80%;
	height: 98%;
	margin: auto;
	position: absolute;
	z-index: 1;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(0, 0, 0, 0.8);
}
.ocultar{
	display: none;
}
.subtitulo-proyecto{
	display: inline-block;
	width: 250px;
	background-color: white;
	font-family: Oswald;
	font-size: 20px;
	padding: 10px 0;
	border-radius: 15px;
}

/*SOBRE MÍ*/
.sobre-mi{
	padding: 0 0 38px 0;
	text-align: center;
}
.img-sobre-mi{
	width: 80%;
}
.habilidad-info{
	background-color: #F73859;
	width: 100%;
	height: auto;
	padding: 30px 25px;
	color: white;
	margin-bottom: 25px;
	font-family:Pontano Sans;
	font-size: 18px;
}
/*CONTÁCTAME*/
#contactame{
	background-color: #C4EDDE;
	color: #2A363B;
	padding: 70px 0 30px 0;
}
.titulo-contactame{
	font-family: Oswald;
	font-size: 60px;
}
.icono{
	font-size: 30px;
	margin: 0 15px;
}
.icono2{
	font-size: 20px;
	margin: 0 15px;
}
.btn-lg{
	margin-top: 20px;
	background-color: #F73859;
	border: 0;
	margin-bottom: 35px;
}
.btn-lg:hover{
	background-color: #F73859;
}
.btn-lg:active{
	background-color: #F73859;
}
.btn-lg:focus{
	background-color: #F73859;
}
.btn-lg:visited{
	background-color: #F73859;
}
.btn-lg:active:focus{
	background-color: #F73859;
}
h3 a{
	text-decoration: none;
	color: #2A363B;
	font-size: 20px;
}
h3 a:hover{
	text-decoration: none;
	color: #2A363B;
}
h3 a:active{
	color: #2A363B;
	text-decoration: none;
}
h3 a:visited{
	color: #2A363B;
	text-decoration: none;
}
h3 a:focus{
	color: #2A363B;
	text-decoration: none;
}
h3{
	display: inline-block;
	font-family: Pontano Sans;
	font-size: 18px;
}
.img-footer{
	width: 50%;
}
footer{
	background-color: black;
	color: white;
	font-family: Lobster Two;
	text-align: center;
	padding: 30px 0 20px 0;
	font-size: 20px;
}
/*MEDIA QUERIES 770px*/
@media screen and (max-width : 770px){
	.frase h1{
		font-size: 26px;
		margin: 28px 0 0 10px;
	}
	.ocultar{
		display: inline-block;
	}
	.links{
		width: 92%;
		height: 66%;
		background: rgba(0, 0, 0, 0.3);
	}
	.boton-link{
		background: rgba(240, 56, 87, 0.7);
		font-size: 24px;
		padding: 2%;
		margin: 9% 0;
		border: 3px white solid;
	}
	.links-jquery{
		width: 180px;
		margin: auto;
		position: absolute;
		z-index: 1;
		top: 0; left: 0; bottom: 0; right: 0;
		background: rgba(0, 0, 0, 0.3);
	}
	.titulo-contactame{
		font-size: 50px;
	}
	.contenido-quien-soy{
		font-size: 1.6em;
	}
	#quien-soy{
		margin-bottom: 50px;
	}
	.presentacion{
		padding: 42% 0;
	}
	.proyecto-img{
		width: 100%;
	}
	.img-sobre-mi {
		width: 59%;
	}
	.friends {
		margin: 7%;
	}
	.img-sobre-mi {
		width: 74%;
	}
	.contenido-gustos {
		width: 70%;
		font-size: 2.5em;
		margin: 100px auto 0 auto;
	}
}

/*MEDIA QUERIES 320px*/
@media screen and (max-width : 320px){
	.frase img {
		width: 60px;
	}
	.frase h1 {
		margin: 0 0 0 10px;
		font-size: 27px;
	}
	.titulo-contactame{
		font-size: 50px;
	}
	.contenido-quien-soy{
		font-size: 1.1em;
	}
	.friends {
		margin: 18% 0;
	}
	.presentacion{
		padding: 43% 0;
	}
	.links{
		width: 86%;
		height: 50%;
	}
	.boton-link{
		font-size: 15px;
		padding: 2%;
		margin: 5% 0;
	}
	.subtitulo-proyecto {
		display: inline-block;
		width: 150px;
		font-size: 18px;
		padding: 10px 0;
		border-radius: 10px;
	}
	.proyecto-jquery .boton-link {
		border: 3px white solid;
		width: 80%;
		font-size: 24px;
		margin: 20% 0;
		font-family: Oswald;
		color: white;
	}
	.navbar-toggle{
		margin-top: 22px;
		margin-right: 19px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.nav > li > a {
		padding: 15px 37px;
	}
	.contenido-gustos {
		width: 80%;
		color: white;
		border-radius: 15px;
		font-size: 2em;
		margin:0 auto;
	}
	.img-sobre-mi {
		width: 89%;
	}
	.subtitulo-skill {
		font-size: 14px;
	}

}
